.cpg__palette-item{
	display: inline-block;
	position: relative;
}

.cpg__palette-holder .cpg__dominant-color{
	width: 100%;
	height: 30px;
	margin: 5px 0 0;
	position: relative;
	display: block;
	text-decoration: none;
}

.cpg__palette-holder .cpg__palette-list{
	margin: 5px 0 0;
	padding: 0;
	list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.cpg__palette-holder .cpg__palette-list + .cpg__palette-list{
	margin-top: 20px;
}

.cpg__palette-holder .cpg__palette-list:before,
.cpg__palette-holder .cpg__palette-list:after{
	content: "";
	width: 100%;
	display: table;
}

.cpg__palette-holder .cpg__palette-list .cpg__palette-item{
	float: left;
	width: 10%;
	height: 30px;
	margin: 0;
	position: relative;
    flex: 1 auto;
}

.cpg__palette-holder .cpg__dominant-color:after,
.cpg__palette-holder .cpg__palette-list .cpg__palette-item:after{
	content: attr(data-title);
	position: absolute;
	background-color: #000;
	border-radius: 3px;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: #FFF;
	bottom: 100%;
	display: none;
	margin-bottom: 2px;
	text-align: center;
	text-indent: 0;
	text-transform: capitalize;
	white-space: nowrap;
	padding: 2px 5px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.cpg__palette-holder .cpg__palette-list .cpg__palette-item:after{
	text-transform: lowercase;
}

.cpg__palette-holder .cpg__dominant-color:before,
.cpg__palette-holder .cpg__palette-list .cpg__palette-item:before{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -4px;
	border: 4px solid transparent;
	border-top-color: #000;
	top: -2px;
	display: none;
}

.cpg__palette-holder .cpg__dominant-color:hover:after,
.cpg__palette-holder .cpg__palette-list .cpg__palette-item:hover:after,
.cpg__palette-holder .cpg__dominant-color:hover:before,
.cpg__palette-holder .cpg__palette-list .cpg__palette-item:hover:before{
	display: block;
}

.cpg__palette-holder .cpg__palette-list .cpg__palette-item-helper:hover:before,
.cpg__palette-holder .cpg__palette-list .cpg__palette-item-helper:hover:after{
	display: none;
}

.cpg__palette-holder .cpg__palette-list .cpg__palette-item-helper .cpg__dominant-color {
	margin: 0;
}

.cpg-image{
	padding: 10px;
	border: 1px solid #eee;
	max-width: 100%;
	display: inline-block;
	background-color: #FFF;
	margin-bottom: 10px;
}

.cpg__palette-holder p.cpg__text{
	margin: 5px 0 0;
}
